.row-header {
    margin: 0px auto;
    padding: 0px auto; }
  
  .row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }
  
  .footer {
    background-color: rgb(78, 24, 24);
    margin: 0px auto;
    padding: 20px 0px; }
  
  .jumbotron {
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
    background: rgb(34, 5, 5);
    color: rgb(255, 240, 240); }
  
  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; }
  
  body {
    padding: 0px 0px 0px 0px;
    z-index: 0; }
  
  .navbar-dark {
    background-color:rgb(78, 24, 24);
    font-size: 20px;
    
    }
  .navbar-nav{
    margin: 0px 33px 0px 0px;
    
  }

  .footb{
    border-bottom: 1px ridge;
    padding: 0px 0px 10px 0px;
  }
  .link:hover{
    color:black;
    text-decoration: none;
  }
  .link{
    color: white;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    
    
  }

  .address{
    color: white;
    padding: 0px 20px 30px 20px;
    font-size: 18px;
  }

  
  
  
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; }
  
  .carousel {
    background: #512DA8; }
    .carousel .carousel-item {
      height: 300px; }
      .carousel .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px; }
  
  .modal .modal-header {
    background: rgb(78, 24, 24);;
    color: floralwhite; }
    .modal .modal-header button {
      color: floralwhite; }
  
  .modal .modal-body {
    background: rgb(255, 255, 255); }
  
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px; }